.openmeteo-button {
	border-radius: 32px;
	padding: 13px;
}

.openmeteo-button:hover {
	border: none;
	padding: 14px;
}

.openmeteo-button > StIcon {
	icon-size: 6px;
}

.openmeteo-button > StLabel {
	padding: 6px;
}

.openmeteo-menu-button-container {
	padding: 0px;
}

.openmeteo-button-box {
	padding: 0px;
	spacing: 12px;
}

.openmeteo-current-summarybox,
.openmeteo-forecast-icon,
.openmeteo-current-databox-captions,
.openmeteo-current-databox-values,
.openmeteo-current-icon,
.openmeteo-forecast-summary,
.openmeteo-forecast-temperature {
	border-radius: 0px;
	padding: 0px;
	border: 0px;
}

.openmeteo-current-summarybox {
	padding-top: 5px;
	padding-right: 60px;
}

.openmeteo-current-summary {
	font-size: 36px;
}

.openmeteo-current-databox {
	padding: 5px 15px 0px;
}

.openmeteo-current-icon {
	padding-right: 40px;
}

.openmeteo-current-iconbox {
	padding-right: 20px;
	padding-left: 20px;
}

.openmeteo-icon:ltr {
	padding-right: 5px;
}

.openmeteo-icon:rtl {
	padding-left: 5px;
}

.openmeteo-label {
	padding-right: 6px;
}

.openmeteo-current-databox-captions {
	text-align: right;
	padding-right: 5px;
	spacing: 0;
    height: 1.1em
}

.openmeteo-current-databox-values {
    height: 1.1em;
}

.openmeteo-today-box {
	padding-top: 15px;
	padding-bottom: 15px;
}

.openmeteo-forecast-expander {
	padding-right: 15px;
	padding-left: 15px;
}

.openmeteo-forecast-box {
	padding-top: 15px;
}

.openmeteo-forecast-icon {
	padding-right: 10px;
}

.openmeteo-forecasts {
	-st-hfade-offset: 60px;
}

.openmeteo-today-databox {
	text-align: center;
	padding-right: 35px;
	padding-left: 35px;
}

.openmeteo-forecast-databox {
	text-align: center;
	min-width: 180px;
	min-height: 120px;
}

.openmeteo-forecast-day {
	min-height: 120px;
	padding: 0px 2px 0px 0px;
	text-align: right;
	font-weight: bold;
	font-size: 90%;
	spacing: 0;
}

.openmeteo-forecast-time {
	font-size: 85%;
	padding-bottom: 5px;
	spacing: 0;
}

.openmeteo-forecast-iconbox {
	text-align: center;
	vertical-align: top;
}

.openmeteo-forecast-summary {
	padding-top: 5px;
	font-size: 80%;
}

.openmeteo-sunrise-icon {
	padding-right: 5px;
}

.openmeteo-sunset-icon {
	padding-left: 15px;
	padding-right: 5px;
}

.openmeteo-build-icon {
	padding-left: 15px;
	padding-right: 5px;
}

.openmeteo-button-action {
	-st-icon-style: symbolic;
	border-radius: 32px;
	margin: 0px;
	min-height: 22px;
	min-width: 22px;
	padding: 10px;
	font-size: 100%;
}

.openmeteo-button-action:hover,
.openmeteo-button-action:focus {
	border: none;
	padding: 11px;
}

.openmeteo-button-action > StIcon {
	icon-size: 16px;
}

.openmeteo-white {
  color: white;
}

.openmeteo-black {
  color: black;
}

/* precipitation text (match forecast summary size) */
.openmeteo-forecast-precip {
    font-size: 75%;
    opacity: 0.75;
    margin-top: 2px;
}
